@import "./_variables.scss";
@import "./_mixin.scss";

#blog__background__fixed {
    background-attachment: fixed;
}

.blog {
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0.6) 0%, rgba(47, 47, 47, 0.6) 100%), url(/Images/blog/10.jpg);
    position: relative;
    .container__blog {
        padding-top: 60px;
        padding-bottom: 85px;
        margin-left: 13%;
        margin-right: 13%; 
    }
    .brush__dec {
      @include brush__dec();
  }
    .blog__h2 {
        font-weight: 700;
        color: $background__color__white;
        font-family: $font__family__kurale;
    }
    .pages__header {
        border: none;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .pages__header::after {
        content: "";
        display: block;
        position: relative;
        height: 3px;
        width: 113px;
        background-color: $color__yellow;
        margin: 0 auto;
    }
    .blog__p {
        color: $background__color__white;
        font-family: $font__family__cormorant;
        font-size: 23px;
        font-weight: 600;
    }

    :root {
        --swiper-navigation-color: #ffffff;
        --swiper-theme-color: #ef233c;
      }
      
      .swiper {
        width: 100%;
        height: auto;
        background-color: #46677b;
      }
      
.mySlides {
  height: 400px;
  display: none;
  background-color: $background__color__white;
  padding-right: 5px;
  box-shadow: 2px 7px 5px 7px rgba(136, 136, 136, 0.5);
}
.blog__img {
  overflow: hidden;
 & img {
  vertical-align: middle;
  height: 400px;
  overflow: hidden;
  transition: 0.35s;
  opacity: 1;
  width: 100%;
  &:hover {
      transform:scale(1.1);
      opacity: 0.85;
  }
 }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev__angel, .next__angel {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: $color__white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next__angel {
  right: 12px;
  border-radius: 3px 0 0 3px;
}

.prev__angel:hover, .next__angel:hover {
  background-color: #f1f1f1;
  color: $color__black;
}
.blog__header {
  margin: 20px 0 10px;
  border: none;
}
.blog__header::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: $color__yellow;
}

.blog__slider__h2 {
  font-weight: 700;
  color: $color__dark__gray;
  font-family: $font__family__kurale;
}
.blog__slider__p {
  color: $color__dark__gray;
  font-family: $font__family__cormorant;
  font-size: 23px;
  font-weight: 600;
}
.button__blog {
  font-size: 19px;
  font-weight: 600;
  color: $color__dark__gray;
  font-family: $font__family__kurale;
  @include pages__button();

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: $background__color__yellow;
    border-radius: 0.5rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    width: 0%;
    height: 100%;
    background-color: $background__color__red;
    transition: all 0.3s;
    border-radius: 0.5rem;
    z-index: -1;
  }
  &:hover {
    color: $color__white;
    &:before {
      width: 100%;
    }
  }
}

}

@media (max-width:576px) {
  .blog {
    .container__blog {
      margin-left: 3%;
      margin-right: 3%;
    }
    .blog__img img {
      display: none;
    }
    .col-lg-8 {
      padding-left: 30px;
    }
    .blog__slider__h2 {
      font-size: 22px;
    }
    .blog__slider__p {
      font-size: 17px;
    }
    .button__blog {
      padding: 0.5rem 1rem;
      font-size: 15px;
      margin-bottom: 20px;
    }
    .mySlides {
      height: 100%;
    }
  }
}

@media (min-width:576px) and (max-width:768px) {
  .blog {
    .container__blog {
      margin-left: 8%;
      margin-right: 8%;
    }
    .blog__img img {
      display: none;
    }
    .col-lg-8 {
      padding-left: 30px;
    }
    .blog__slider__h2 {
      font-size: 24px;
    }
    .blog__slider__p {
      font-size: 19px;
    }
    .button__blog {
      padding: 0.5rem 1rem;
      font-size: 17px;
      margin-bottom: 20px;
    }
    .mySlides {
      height: 100%;
    }
  }
}

@media (min-width:768px) and (max-width:991px) {
  .blog {
    .blog__img img {
      display: none;
    }
    .col-lg-8 {
      padding-left: 30px;
    }
    .blog__slider__h2 {
      font-size: 26px;
    }
    .blog__slider__p {
      font-size: 21px;
    }
    .button__blog {
      margin-bottom: 20px;
    }
    .mySlides {
      height: 100%;
    }
  }
  
}

@media (min-width:992px) and (max-width:1275px) {
  .blog {
    .blog__slider__h2 {
      font-size: 28px;
    }
    .blog__slider__p {
      font-size: 21.5px;
    }
    .mySlides {
      height: 100%;
    }
  }
  .button__blog {
    margin-bottom: 15px;
  }
}