$color__dark__gray: rgb(72, 72, 72);
$color__yellow: #f6d51b;
$color__white: #fff;
$font__family__kurale: 'Kurale', serif;
$font__family__cormorant: 'Cormorant Upright', serif;
$background__color__white: white;
$background__color__yellow: #ffc107;
$background__color__red: #ff5a3c;
$outline__color__gray: rgba(255, 255, 255, .5);
$outline__color__black: rgba(255, 255, 255, 0);
$background__color__green5c: #5cb85c;
$background__color__green209: #209320;
$color__light__gray: rgb(98, 98, 98);
$font__family__gabriela: 'Gabriela', serif;
$background__color__light: #f9f9f9;
$color__light__black: rgb(42, 42, 42);
$color__black: rgb(0, 0, 0);
$background__color__btn1: rgba(255, 217, 0, 0.4);
$background__color__btn2: rgba(255, 217, 0, 0.2);
$background__color__whitee8: #e8e8e8;
$color-light: #f4f4f4;
$color-blue-gray: #9194a1;
$color-blue-dark: #252b46;
$color-red-light: #fa5757;
$color__black22: #222;
$color__whitef2: #f2f2f2;























$color__black: black;




$background__color__blue: #46677b;
$background__color__white: white;
$background__color__whitef1: #f1f1f1;



















